---
- name: Deploy MyProject on EC2
  hosts: all
  become: yes
  vars:
    project_dir: ~/myproject
    files_to_copy:
      - index.html
      - index.css
      - script.js
      - Dockerfile

  tasks:
    - name: Ensure project directory exists
      file:
        path: "{{ project_dir }}"
        state: directory
        mode: '0755'

    - name: Install required packages
      apt:
        name: "{{ item }}"
        state: present
      loop:
        - docker.io
        - python3-pip
      become: yes
      update_cache: yes

    - name: Add ubuntu user to docker group
      user:
        name: ubuntu
        groups: docker
        append: yes

    - name: Copy project files to EC2
      copy:
        src: "{{ item }}"
        dest: "{{ project_dir }}/{{ item }}"
      loop: "{{ files_to_copy }}"
      delegate_to: localhost

    - name: Build Docker image
      docker_image:
        path: "{{ project_dir }}"
        name: myproject
        state: present

    - name: Run Docker container
      docker_container:
        name: myproject
        image: myproject
        state: started
        restart_policy: always
        published_ports:
          - "80:80"