# ansible/deploy.yml
- name: Deploy MyProject Web App on EC2
  hosts: all
  become: yes
  vars:
    project_dir: /home/ubuntu/myproject
    docker_image: myapp
    docker_container: myapp
    app_port: 80

  tasks:

  - name: Ensure required packages are installed
    apt:
      name:
        - docker.io
        - python3-pip
      state: present
      update_cache: yes

  - name: Install Docker Python module
    pip:
      name: docker
      executable: pip3

  - name: Ensure Docker service is running
    service:
      name: docker
      state: started
      enabled: yes

  - name: Stop existing container if running
    community.docker.docker_container:
      name: "{{ docker_container }}"
      state: absent
      force_kill: yes

  - name: Remove old dangling images
    community.docker.docker_image:
      name: "{{ docker_image }}"
      state: absent
      force: yes

  - name: Build Docker image
    community.docker.docker_image:
      name: "{{ docker_image }}"
      build:
        path: "{{ project_dir }}"
        rm: yes

  - name: Run Docker container
    community.docker.docker_container:
      name: "{{ docker_container }}"
      image: "{{ docker_image }}"
      state: started
      restart_policy: always
      ports:
        - "{{ app_port }}:80"