---
- hosts: all
  become: yes
  vars:
    project_dir: "~/myproject"
    docker_image: "myproject"
    docker_container: "myproject"

  tasks:
    - name: Ensure Docker is installed
      apt:
        name: docker.io
        state: present
        update_cache: yes

    - name: Ensure user is in docker group
      user:
        name: ubuntu
        groups: docker
        append: yes

    - name: Copy project files to EC2
      copy:
        src: "{{ project_dir }}/"
        dest: "{{ project_dir }}/"
        owner: ubuntu
        group: ubuntu
        mode: 0755

    - name: Build Docker image
      community.docker.docker_image:
        build:
          path: "{{ project_dir }}"
        name: "{{ docker_image }}"
        state: present

    - name: Run Docker container
      community.docker.docker_container:
        name: "{{ docker_container }}"
        image: "{{ docker_image }}"
        state: started
        restart_policy: unless-stopped
        ports:
          - "80:80"