---
- name: Deploy MyProject on EC2
  hosts: all
  become: yes
  vars:
    project_dir: /home/ubuntu/myproject
    files_to_copy:
      - { src: '../index.html', dest: '{{ project_dir }}/index.html' }
      - { src: '../index.css', dest: '{{ project_dir }}/index.css' }
      - { src: '../script.js', dest: '{{ project_dir }}/script.js' }
      - { src: '../Dockerfile', dest: '{{ project_dir }}/Dockerfile' }

  tasks:

    - name: Ensure project directory exists
      ansible.builtin.file:
        path: "{{ project_dir }}"
        state: directory
        mode: '0755'

    - name: Install required packages
      ansible.builtin.apt:
        name:
          - python3-pip
          - docker.io
        update_cache: yes
        state: present

    - name: Add ubuntu user to docker group
      ansible.builtin.user:
        name: ubuntu
        groups: docker
        append: yes

    - name: Copy project files to EC2
      ansible.builtin.copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
      loop: "{{ files_to_copy }}"

    - name: Build Docker image
      ansible.builtin.shell: docker build -t myapp "{{ project_dir }}"
      args:
        chdir: "{{ project_dir }}"

    - name: Run Docker container
      ansible.builtin.shell: docker run -d -p 80:80 --name myapp myapp