---
- name: Deploy MyProject on EC2
  hosts: web
  become: true

  tasks:
    - name: Update apt
      apt:
        update_cache: yes

    - name: Install Git
      apt:
        name: git
        state: present

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Start Docker
      service:
        name: docker
        state: started
        enabled: yes