---
- name: Deploy MyProject on EC2
  hosts: web
  become: true

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Git
      apt:
        name: git
        state: latest

    - name: Install Docker (latest)
      apt:
        name: docker.io
        state: latest
        update_cache: yes

    - name: Start Docker
      service:
        name: docker
        state: started
        enabled: yes