- name: Deploy MyProject Web App on EC2
  hosts: web
  become: yes
  collections:
    - community.docker
  tasks:

    - name: Ensure Docker is installed
      apt:
        name: docker.io
        state: present
        update_cache: yes

    - name: Build Docker image
      docker_image:
        name: myapp
        build:
          path: ~/myproject
        state: present

    - name: Stop old container if exists
      docker_container:
        name: myapp
        state: absent
        force_kill: yes

    - name: Run new container
      docker_container:
        name: myapp
        image: myapp
        state: started
        ports:
          - "80:80"