---
- name: Deploy MyProject on EC2
  hosts: all
  become: yes
  vars:
    project_dir: /home/ubuntu/myproject

  tasks:
    - name: Install required packages
      apt:
        name: "{{ item }}"
        state: present
        update_cache: yes
      loop:
        - docker.io
        - python3-pip

    - name: Add ubuntu user to docker group
      user:
        name: ubuntu
        groups: docker
        append: yes

    - name: Copy project files to EC2
      copy:
        src: ../
        dest: "{{ project_dir }}"
        owner: ubuntu
        group: ubuntu
        mode: 0755

    - name: Build Docker image
      community.docker.docker_image:
        name: myproject
        source: build
        build:
          path: "{{ project_dir }}"

    - name: Run Docker container
      community.docker.docker_container:
        name: myproject
        image: myproject
        state: started
        restart_policy: unless-stopped
        ports:
          - "80:80"
