---
- name: Deploy MyProject on EC2
  hosts: all
  become: yes
  vars:
    project_path: /home/ubuntu/myproject
    docker_image_name: myproject
    docker_container_name: myproject_container

  tasks:

    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install required packages
      apt:
        name:
          - docker.io
          - python3-pip
        state: present

    - name: Add ubuntu user to docker group
      user:
        name: ubuntu
        groups: docker
        append: yes

    - name: Ensure project directory exists
      file:
        path: "{{ project_path }}"
        state: directory
        owner: ubuntu
        group: ubuntu
        mode: 0755

    - name: Copy project files
      copy:
        src: "{{ item }}"
        dest: "{{ project_path }}/"
        owner: ubuntu
        group: ubuntu
        mode: 0644
      with_fileglob:
        - "../index.html"
        - "../index.css"
        - "../script.js"
        - "../Dockerfile"

    - name: Build Docker image
      docker_image:
        build:
          path: "{{ project_path }}"
        name: "{{ docker_image_name }}"
        state: present

    - name: Run Docker container
      docker_container:
        name: "{{ docker_container_name }}"
        image: "{{ docker_image_name }}"
        state: started
        restart_policy: always
        ports:
          - "80:80"