name: Deploy MyProject to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up SSH key
      run: |
        echo "${{ secrets.EC2_SSH_KEY }}" > assignmentkey.pem
        chmod 400 assignmentkey.pem

    - name: Clean Remote Folder
      run: |
        ssh -o StrictHostKeyChecking=no -i assignmentkey.pem \
        ubuntu@${{ secrets.EC2_HOST }} \
        "rm -rf ~/myproject && mkdir ~/myproject"

    - name: Copy Project Files to EC2
      run: |
        scp -o StrictHostKeyChecking=no -i assignmentkey.pem -r \
        index.html index.css script.js Dockerfile ansible terraformfiles \
        ubuntu@${{ secrets.EC2_HOST }}:~/myproject

    - name: Install Ansible on runner
      run: sudo apt-get update && sudo apt-get install -y ansible

    - name: Run Ansible Playbook
      run: |
        ssh -o StrictHostKeyChecking=no -i assignmentkey.pem \
        ubuntu@${{ secrets.EC2_HOST }} \
        "cd ~/myproject && ansible-playbook -i ansible/inventory.ini ansible/deploy.yml"