name: Deploy MyProject to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout code
    - name: Checkout repository
      uses: actions/checkout@v3

    # 2. Setup SSH key
    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

    # 3. Clean remote folder
    - name: Clean remote project folder
      run: |
        ssh ubuntu@${{ secrets.EC2_HOST }} "rm -rf ~/myproject && mkdir ~/myproject"

    # 4. Copy project files to EC2
    - name: Copy project files
      run: |
        scp -r ./ansible ./index.html ./index.css ./script.js ./Dockerfile ./terraformfiles ubuntu@${{ secrets.EC2_HOST }}:~/myproject

    # 5. Run Ansible playbook on EC2
    - name: Run Ansible playbook
      run: |
        ssh ubuntu@${{ secrets.EC2_HOST }} "ansible-playbook ~/myproject/ansible/deploy.yml -i ~/myproject/ansible/inventory.ini"
