name: Deploy MyProject

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup SSH key
      run: |
        echo "${{ secrets.EC2_SSH_KEY_BASE64 }}" | base64 --decode > assignmentkey.pem
        chmod 400 assignmentkey.pem

    - name: Add EC2 to known hosts
      run: |
        mkdir -p ~/.ssh
        ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

    - name: Clean remote folder
      run: |
        ssh -o StrictHostKeyChecking=no -i assignmentkey.pem \
        ubuntu@${{ secrets.EC2_HOST }} \
        "rm -rf ~/myproject && mkdir ~/myproject"

    - name: Copy project files to EC2
      run: |
        scp -o StrictHostKeyChecking=no -i assignmentkey.pem -r \
        index.html index.css script.js Dockerfile ansible terraformfiles \
        ubuntu@${{ secrets.EC2_HOST }}:~/myproject

    - name: Run Ansible playbook
      run: |
        ansible-playbook -i ansible/inventory.ini ansible/deploy.yml