name: CI/CD Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible python3-pip sshpass

      - name: Create private key
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > assignmentkey.pem
          chmod 400 assignmentkey.pem

      - name: Run Ansible Playbook
        run: |
          ansible-playbook -i ansible/inventory.ini ansible/deploy.yml