name: Deploy MyProject

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Ansible & dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible==7.4.0
          ansible-galaxy collection install community.docker

      - name: Copy project to EC2
        run: |
          rsync -avz --delete -e "ssh -i $HOME/ca-project-aws/assignmentkey.pem -o StrictHostKeyChecking=no" ./myproject/ ubuntu@44.211.243.198:~/myproject/

      - name: Run Ansible deploy
        run: |
          ansible-playbook -i ansible/inventory.ini ansible/deploy.yml -vv